ETH_PRIVATE_KEY=<your_private_key> 
MAINNET_ENDPOINT=https://example.com  
ENDPOINT=http://eth-proxy.skalenodes.com:8888/holesky  
CHAIN_NAME=<example-mirage> 
MIRAGE_TAG=.0.1-develop.6 
TARGET=<skale-manager-address>
